:root {
    --footerHeight: 100px;
}

.View {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0;
}

.Header, .Main, .Footer {
    flex-shrink: 0;
}

.Header {
    background-color: orange;
}

.Main {
    background-color: green;
    flex-grow: 1;
}

.Footer {
    background-color: yellow;
    height: var(--footerHeight);
}

@media screen and (min-width: 600px) {

    .View {
        flex-flow: row wrap;
    }

    .Header {
        flex-basis: 50%;
        min-height: calc(100vh - var(--footerHeight));
    }

    .Main {
        flex-basis: 50%;
    }

    .Footer {
        flex-basis: 100%;
        height: var(--footerHeight);
    }

}
