:root {
    --footerHeight: 100px;
}

.View {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    margin: 0;

    background: rgb(34, 34, 34);
    color: rgb(221, 221, 221);
    font-family:sans-serif;
}

.Header, .Main, .Footer {
    flex-shrink: 0;
}

.Header {
    align-items: center;
    display: flex;
    flex-basis: 100px;
    flex-flow: column;
    flex-grow: 0;
    justify-content: center;
}
.Header__Title {
    margin: 0;
}
.Header__Version {
    font-size: 0.5em;
    font-weight: normal;
}
.Header__SubText {
    margin: 0;
}

.Main {
    box-sizing: border-box;
    flex-grow: 1;

    display: flex;
    flex-flow: column;
    flow-shrink: 1;
    padding: 1em;
}

.Guide {
    flex-shrink: 1;
}
.Guide__Title {
    margin: 1em 0;
}
.Guide__DescriptionLinks {}

.DescriptionLinks {
}
.DescriptionLinks__Name {
    box-sizing: border-box;
    margin-top: 1em;
    padding: 0.5em 1em 0;
    
    background-color: rgb(51, 51, 51);
    font-weight: bold;
}
.DescriptionLinks__Text {
    box-sizing: border-box;
    margin: 0;
    padding: 0 1em 0.5em;

    background-color: rgb(51, 51, 51);
}

.Footer {
    height: var(--footerHeight);
}
.FooterLinks {
    display: flex;
    flex-flow: row wrap;
    height: 60px;
    justify-content: center;

    text-decoration: none;
}
.FooterLink,
.FooterLink--isolated {
    align-self: start;
    margin: 0 0.5em;

    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
}
.FooterLink--isolated {
    align-self: end;
    margin: 0 100%;
}

@media screen and (min-width: 720px) {

    .View {
        flex-flow: row wrap;
    }

    .Header {
        flex-basis: 50%;
        min-height: calc(100vh - var(--footerHeight));
    }

    .Main {
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .DescriptionLinks {
        max-width: 45vw;
    }

    .Footer {
        flex-basis: 100%;
    }

}
